/* Configurações Gerais */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Preahvihear', sans-serif;
}

/* Padrões de Elementos */
button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
  outline: none;
}

.icons {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container */
.bigger-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-areas:
    'header header header header header '
    'sidebar main main main main '
    'sidebar main main main main ';
}

/* Header Content */
.header {
  grid-area: header;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 3rem;
}

.github-link {
  display: flex;
  align-items: center;
}

/* Sidebar Content */
.sidebar {
  grid-area: sidebar;
}

/* Main Content */
.main {
  grid-area: main;
}

/* Grouping */
.header,
.sidebar,
.main {
  border: 1px solid black;
  padding: 20px;
}

.main,
.sidebar {
  height: 90vh;
}