/* Configurações Gerais */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Preahvihear', sans-serif;
}

:root {
  --palette_1: #F0ECE5;
  --palette_2: #B6BBC4;
  --palette_3: #31304D;
  --palette_4: #161A30;
}

/* Padrões de Elementos */
button {
  border: none;
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

/* Container */
.bigger-container {
  background-color: var(--palette_1);
  min-height: 100svh;
  min-width: 100svw;
  display: grid;
  grid-template-areas:
    'header header'
    'menu main'
    'menu main';
}

/* Conteúdo do header */
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--palette_4);
  color: var(--palette_1);
}

.left-header {
  display: flex;
  gap: 1rem;
}

.toggle-menu-btn {
  background: none;
  color: var(--palette_1);
}

.header-icons {
  font-size: 2rem;
}

.github-link {
  text-decoration: none;
  color: inherit;
}

.header-heading {
  font-size: 2rem;
}

.github-link {
  display: flex;
  align-items: center;
}

/* Conteúdo do Menu */
.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--palette_2);
  color: var(--palette_4);
}

.top-menu,
.bottom-menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-menu {
  overflow: auto;
}

.menu-heading {
  font-size: 1.4rem;
  text-decoration: underline;
}

.menu-btn {
  color: var(--palette_4);
  gap: .5rem;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  background: none;
  font-weight: bold;
}

.menu-btn:hover,
.project-btn:hover {
  background-color: var(--palette_4);
  color: var(--palette_1);
}

.project-name-input,
.add-project-btn,
.project-btn,
.fa-delete-left {
  padding: 10px;
  font-size: 1rem;
}

/* Top Menu*/
.top-menu-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: auto;
}

/* Bottom Menu*/
.default-bottom-menu-content,
.project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-name-input {
  width: 85%;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  background-color: var(--palette_1);
  color: var(--palette_4);
  font-weight: bold;
}

.project-name-input::placeholder{
  color: #161a30ba;
}

.add-project-btn {
  justify-content: center;
  width: 15%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: var(--palette_4);
  color: var(--palette_1);
}

.bottom-menu-content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: auto;
}

.project-btn {
  width: 85%;
  border-radius: 5px;
  background-color: var(--palette_2);
  color: var(--palette_4);
  font-weight: bold;
}

.fa-delete-left {
  width: 15%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #aa2222;
}

.fa-delete-left:hover {
  color: #ff0000;
}

.projects-created-txt {
  font-weight: bold;
  font-size: .8rem;
}

/* Conteúdo do main */
.main {
  background-color: var(--palette_1);
  color: var(--palette_4);
  padding: 20px;
  overflow: auto;
}

.main-heading {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.task-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.open-modal {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 60%;
  font-weight: bold;
  background-color: var(--palette_1);
  color: var(--palette_4);
}

.open-modal:hover {
  background-color: var(--palette_4);
  color: var(--palette_1);
}

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--palette_1);
}

.modal::backdrop {
  background-color: #31304dbe;
}

.close-modal {
  align-self: flex-end;
  font-size: 1.25rem;
  background: none;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-form .task-title {
  background-color: var(--palette_1);
}

.task-form input,
.task-form select {
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid var(--palette_4);
  outline: none;
}

.task-form label,
.task-form .task-title {
  font-size: 1.2rem;
  color: var(--palette_4);
  font-weight: bold;
  display: block;
  width: 100%;
}

.task-form select,
.task-form .date-input {
  font-size: 1.1rem;
  width: 100%;
  background: none;
}

.add-task-btn {
  align-self: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: var(--palette_4);
  color: var(--palette_1);
}

/* Responsive Design*/

/* Celular (600px para baixo) */
@media only screen and (max-width: 600px) {
  .bigger-container {
    display: grid;
    grid-template-areas:
      'header header'
      'menu menu'
      'main main'
    ;
  }

  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
    height: 90svh;
  }

  .main {
    grid-area: main;
    height: 100svh;
  }
}


/* Celular/Tablet (600px para cima) */
@media only screen and (min-width: 600px) {
  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
    height: 90svh;
    width: 40svw;
  }

  .main {
    grid-area: main;
    height: 100svh;
    width: 60svw;
  }
}

/* Tablet/Laptop (992px para cima) */
@media only screen and (min-width: 992px) {
  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
    height: 90svh;
    width: 30svw;
  }

  .main {
    grid-area: main;
    height: 90svh;
    width: 70svw;
  }
}

/* Laptop/Desktop */
@media only screen and (min-width: 1200px) {
  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
    height: 90svh;
    width: 20svw;
  }

  .main {
    grid-area: main;
    height: 90svh;
    width: 80svw;
  }
}