<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/676b11367f.js" crossorigin="anonymous"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="bigger-container">
  <header class="header">
    <div class="left-header">
      <button class="toggle-menu-btn"><i class="fa-solid fa-bars header-icons"></i></button>
      <h1 class="header-heading"><%= htmlWebpackPlugin.options.title %></h1>
    </div>
    <div class="right-header">
      <a class="github-link" href="http://github.com/rubeans" target="_blank"><i class="fa-brands fa-github header-icons"></i></a>
    </div>
  </header>
  <sidebar class="menu">
    <div class="top-menu">
      <h2 class="menu-heading">Tarefas</h2>
      <div class="top-menu-content">
        <div class="all-tasks">
          <button class="menu-btn all-tasks-btn"><i class="fa-solid fa-inbox"></i>Todas</button>
        </div>
        <div class="week-tasks">
          <button class="menu-btn week-tasks-btn"><i class="fa-solid fa-calendar-week"></i>Semana</button>
        </div>
        <div class="completed-tasks">
          <button class="menu-btn completed-tasks-btn"><i class="fa-solid fa-check-double"></i>Concluídas</button>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <h2 class="menu-heading">Projetos</h2>
      <div class="default-bottom-menu-content">
        <input class="project-name-input" type="text" placeholder="Novo Projeto" autocomplete="off" maxlength="23">
        <button class="add-project-btn"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="bottom-menu-content">
        <!-- Gerado com javascript -->
      </div>
    </div>
  </sidebar>
  <main class="main">
    <h1 class="main-heading">
      <script>
        const hour = new Date().getHours()
        const greeting = hour >= 0 && hour < 6 ? 'Boa Madrugada' : hour >= 6 && hour < 12 ? 'Bom dia' : hour >= 12 && hour <= 18 ? 'Boa tarde' : 'Boa noite'
        document.write(`Olá, ${greeting}.`)
      </script>
    </h1>
    <div class="task-field">
      <button class="open-modal" style="display: none;"><i class="fa-solid fa-plus"></i>Nova Tarefa</button>
      <dialog id="modal" class="modal">
        <form class="task-form" method="dialog">
          <button class="close-modal"><i class="fa-solid fa-xmark"></i></button>
          <div class="separate-items-inside-form">
            <label for="title">Título<input id="title" class="task-title" type="text" autofocus></label>
          </div>
          <div class="separate-items-inside-form">
            <label for="date">Data de Vencimento: <input class="date-input" id="date" type="date"></label>
          </div>
          <div class="separate-items-inside-form">
            <label for="priorities">Prioridade:
              <select id="priorities" class="priorities">
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
              </select>
            </label>
          </div>
          <button class="add-task-btn">Adicionar</button>
        </form>
      </dialog>
      <div class="tasks-added">
      </div>
    </div>
  </main>
</body>

</html>