<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/676b11367f.js" crossorigin="anonymous"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="bigger-container">
  <header class="header">
    <button class="toggle-menu-btn"><i class="fa-solid fa-bars header-icons"></i></button>
    <h1 class="main-heading"><%= htmlWebpackPlugin.options.title %></h1>
    <a class="github-link" href="http://github.com/rubeans" target="_blank"><i class="fa-brands fa-github header-icons"></i></a>
  </header>
  <sidebar class="menu">
    <div class="top-menu">
      <h2 class="menu-heading">Tarefas</h2>
      <div class="top-menu-content">
        <div class="inbox">
          <button class="inbox-btn menu-btn active-btn"><i class="fa-solid fa-inbox"></i>Entrada</button>
        </div>
        <div class="today-tasks">
          <button class="week-tasks-btn menu-btn active-btn"><i class="fa-solid fa-calendar-week"></i>Nessa Semana</button>
        </div>
        <div class="completed">
          <button class="completed-btn menu-btn active-btn"><i class="fa-solid fa-check-double"></i>Concluídas</button>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <h2 class="menu-heading">Projetos</h2>
      <div class="default-bottom-menu-content">
        <input class="project-name-input" type="text" placeholder="Novo Projeto" autocomplete="off">
        <button class="add-project-btn"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="bottom-menu-content">
        <p class="all-projects-txt" hidden>Meus Projetos</p>
        <!-- Gerado com javascript -->
      </div>
    </div>
  </sidebar>
  <main class="main">
    <!-- TODO -->
  </main>
</body>

</html>