<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/676b11367f.js" crossorigin="anonymous"></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="bigger-container">
  <header class="header">
    <button class="toggle-menu-btn"><i class="fa-solid fa-arrow-left header-icons"></i></button>
    <h1 class="main-heading"><%= htmlWebpackPlugin.options.title %></h1>
    <a class="github-link" href="http://github.com/rubeans" target="_blank"><i class="fa-brands fa-github header-icons"></i></a>
  </header>
  <section class="menu">
    <div class="top-menu">
      <div class="main-top-menu">
        <h2 class="menu-heading">Menu</h2>
      </div>
      <div class="top-menu-content">
        <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="search-input" placeholder="Pesquisar...">
        </div>
        <div class="inbox">
          <i class="fa-solid fa-inbox"></i>
          <button class="inbox-btn"></i>Entrada</button>
        </div>
        <div class="today-tasks">
          <i class="fa-solid fa-calendar-day"></i>
          <button class="today-tasks-btn">Hoje</button>
        </div>
        <div class="completed">
          <i class="fa-solid fa-check-double"></i>
          <button class="completed-btn">Concluídos</button>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <h2 class="menu-heading">Projetos</h2>
    </div>
  </section>
  <main class="main">
    <!-- Gerado com javascript -->
  </main>
</body>

</html>